section{
    width: 85em;
    height: 120em;
 
    
    
.heading{
  width: 85em;
  height: 6em;
 position: relative;
 text-align: center;
  border: 1px solid white;
   position: fixed;
   background-color: white;
  
   
   
.menu{ 
        width: 85em;
        height: 4em;
        
        margin-top: 15px;
        display: flex; 
        
       .ul{
           width: 85em;
           height: 4em;
           list-style-type: none;
           justify-content: space-around ;
           word-spacing: 50px;
           display: flex;
           letter-spacing: 5px;
       }

    } 
    
   
        .head{
            width: 85em;
            height: 42em;
            display: flex;
            position: relative; 
           
        }
    }
        .box{
            width: 85em;
            height: 20em;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
           
           .boxes{
            width: 25em;
            height: 20em;
           
            text-align: center;
            &:hover.boxes{
                transform: scale(1.3);
            }

            } 
            .boxes2{
                width: 25em;
                height: 20em;
               
                text-align: center;
                &:hover.boxes2{
                    transform: scale(1.3);
                }
                
                } 
                .boxes3{
                    width: 25em;
                    height: 20em;
                   
                    text-align: center;
                    &:hover.boxes3{
                        transform: scale(1.3);
                    }
                    
                    }
                    .boxes4{
                        width: 25em;
                        height: 20em;
                       
                        text-align: center;
                        &:hover.boxes4{
                            transform: scale(1.3);
                        }
                        
                        }  
                        .boxes5{
                            width: 25em;
                            height: 20em;
                           
                            text-align: center;
                            &:hover.boxes5{
                                transform: scale(1.3);
                            }
                            
                            } 
                            .boxes6{
                                width: 25em;
                                height: 20em;
                               
                                text-align: center;
                                &:hover.boxes6{
                                    transform: scale(1.3);
                                }
                                
                                } 
        }
        }
section{
.text{ 
    text-align:center;
   
}
.texts1{
    width: 85em;
    display: flex;
    .texts{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
     display: flex;
     flex-wrap: nowrap;
     width: 800px;
     justify-content: space-around;

    }
}  
}
section{
    .class{
        width: 82em;   
      height: 900px;
     
     
        .classbox{
        display: block;
        text-align: center;
    
  
        }
       
      
    }
}